---
layout: page
title: Pokémon GO
subtitle: "Pokédex, medals &amp; more."
permalink: /pokemongo
xp: 14272569
---
{% assign xp = page.xp | times: 100 | divided_by: 20000000 | round %}
{% assign dex = site.data.pokemongo.caught | times: 100 | divided_by: site.data.pokemongo.total | round %}
<div class="container">
  <div class="progress" style="height: 38px; margin-bottom: 12px;">
    <div class="progress-bar" role="progressbar" style="width: {{ xp }}%;" aria-valuenow="{{ xp }}" aria-valuemin="0" aria-valuemax="100">XP - {{ xp }}% (38/40)</div>
  </div>
  <div class="progress" style="height: 38px; margin-bottom: 76px;">
    <div class="progress-bar" role="progressbar" style="width: {{ dex }}%;" aria-valuenow="{{ dex }}" aria-valuemin="0" aria-valuemax="100">Pokédex - {{ dex }}% ({{ site.data.pokemongo.caught }}/{{ site.data.pokemongo.total }})</div>
  </div>
  <div class="text-center" style="margin-bottom: 12px;">
    <label style="height: 38px; line-height: 38px; vertical-align: middle; margin: 0;">Show </label>
    <div class="dropdown" style="display: inline-block !important;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filter-caught" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> all </button>
      <div class="dropdown-menu" aria-labelledby="filter-caught">
        <a class="dropdown-item" href="#" onclick="window.location.hash = 'all/' + $('#filter-type').html().trim(); return false;">all</a>
        <a class="dropdown-item" href="#" onclick="window.location.hash = 'caught/' + $('#filter-type').html().trim(); return false;">caught</a>
        <a class="dropdown-item" href="#" onclick="window.location.hash = 'non-caught/' + $('#filter-type').html().trim(); return false;">non-caught</a>
      </div>
    </div>
    <div class="dropdown" style="display: inline-block !important;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filter-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> normal </button>
      <div class="dropdown-menu" aria-labelledby="filter-type">
        <a class="dropdown-item" href="#" onclick="window.location.hash = $('#filter-caught').html().trim() + '/normal'; return false;">normal</a>
        <a class="dropdown-item" href="#" onclick="window.location.hash = $('#filter-caught').html().trim() + '/shiny'; return false;">shiny</a>
      </div>
    </div>
    <label style="height: 38px; line-height: 38px; vertical-align: middle; margin: 0;"> pokémon.</label>
  </div>
{% for type in site.data.pokedex %}
<div class="pokemon pokemon-{{ type[0] }}">
{% for region in type[1] %}
<h3>{{ region[0] | capitalize }}</h3>
<div class="grid grid-pokemon">
{% for pokemon in region[1] %}
<div class="{% if pokemon[1].caught == 0 %}need{% else %}have{% endif %}">
  <img src="/node_modules/pokemon-icons/_icons/SVG/{{ pokemon[0] }}" alt="" />
  <span>{{ pokemon[1].name }}<br />#{{ pokemon[1].number }}</span>
</div>
{% endfor %}
</div>
{% endfor %}
</div>
{% endfor %}
</div>
<script>
  window.addEventListener('hashchange', fn, false);

  window.onload = fn;

  function fn() {
    var args = window.location.hash.replace('#', '').split('/');
    if (args.length < 2) {
      window.location.hash = 'all/normal';
    } else {
      filter_caught(args[0]);
      filter_type(args[1]);
    }
  }

  function filter_caught(str) {
    if (str == 'all') {
      $('#filter-caught').html(' all ');
      $('.have').show();
      $('.need').show();
    } else if (str == 'caught') {
      $('#filter-caught').html(' caught ');
      $('.have').show();
      $('.need').hide();
    } else if (str == 'non-caught') {
      $('#filter-caught').html(' non-caught ');
      $('.have').hide();
      $('.need').show();
    } else {
      window.location.hash = 'all/normal';
    }
  }

  function filter_type(str) {
    if (str == 'normal') {
      $('#filter-type').html(' normal ');
      $('.pokemon-normal').show();
      $('.pokemon-shiny').hide();
    } else if (str == 'shiny') {
      $('#filter-type').html(' shiny ');
      $('.pokemon-normal').hide();
      $('.pokemon-shiny').show();
    } else {
      window.location.hash = 'all/normal';
    }
  }
</script>