---
layout: page
title: Projects
subtitle: "Applications, extensions, websites &amp; more."
permalink: /projects
---
<div class="container">
  <div class="text-center mb-4">
    Filter by
    <div class="dropdown" style="display: inline-block !important;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filter-label" data-bs-toggle="dropdown" aria-expanded="false">
        status
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" id="filter" aria-labelledby="filter-label">
        <li><a class="dropdown-item" href="#" id="active" onclick="event.preventDefault(); $('#active').toggleClass('active'); self.hash();">active</a></li>
        <li><a class="dropdown-item" href="#" id="inactive" onclick="event.preventDefault(); $('#inactive').toggleClass('active'); self.hash();">inactive</a></li>
        <li><a class="dropdown-item" href="#" id="unsupported" onclick="event.preventDefault(); $('#unsupported').toggleClass('active'); self.hash();">unsupported</a></li>
        <li><a class="dropdown-item" href="#" id="suspended" onclick="event.preventDefault(); $('#suspended').toggleClass('active'); self.hash();">suspended</a></li>
        <li><a class="dropdown-item" href="#" id="abandoned" onclick="event.preventDefault(); $('#abandoned').toggleClass('active'); self.hash();">abandoned</a></li>
        <li><a class="dropdown-item" href="#" id="wip" onclick="event.preventDefault(); $('#wip').toggleClass('active'); self.hash();">wip</a></li>
        <li><a class="dropdown-item" href="#" id="concept" onclick="event.preventDefault(); $('#concept').toggleClass('active'); self.hash();">concept</a></li>
        <li><a class="dropdown-item" href="#" id="unknown" onclick="event.preventDefault(); $('#unknown').toggleClass('active'); self.hash();">unknown</a></li>
      </ul>
    </div>
    of project.
  </div>

  <div id="masonry" class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6"></div>
  {% for status in site.data.projects.owned %}

    {% for project in status[1] %}
      <div class="col-sm-6 mb-4 repo-status-{{ status[0] }}-filter">
        <div class="card">
          {% if project.preview_video %}
          <video class="card-img-top" autoplay loop muted playsinline>
            <source src="{{ project.preview_video }}" type="video/mp4">
          </video>
          {% elsif project.preview_image %}
          <img src="{{ project.preview_image }}" class="card-img-top" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
              <span>
              {{ project.name }}
              {% if project.status %}
              <span class="badge repo-status-{{ project.status | downcase }}">{{ project.status }}</span>
              {% endif %}
              </span>
              {% if project.icon %}
              <img class="float-right" src="{{ project.icon }}" alt="{{ project.name }}" style="width: 24px; height: 24px; vertical-align: top;">
              {% endif %}
            </h5>
            <p class="card-text">{{ project.description }}</p>
            <div class="d-flex justify-content-between">
              <div style="display: inline-block;">
                {% if project.button %}
                <a href="{{ project.button.href }}" class="btn btn-primary">{{ project.button.text }}</a>
                {% endif %}
                {% if project.button == nil and project.source %}
                <a href="{{ project.source }}" class="btn btn-secondary">Source</a>
                {% endif %}
              </div>
              <div style="display: inline-block;">
                {% if project.source %}
                <a href="{{ project.source }}" class="btn btn-secondary">
                  <img src="/node_modules/@primer/octicons/build/svg/code-24.svg" alt="Source" class="emoji octicons">
                </a>
                {% endif %}
                {% if project.stars != 0 %}
                <a href="{{ project.source }}/stargazers" class="btn btn-secondary">
                  <img src="/node_modules/@primer/octicons/build/svg/star-24.svg" alt="Stars" class="emoji octicons">
                  {{ project.stars }}
                </a>
                {% endif %}
                {% if project.forks != 0 %}
                <a href="{{ project.source }}/network/members" class="btn btn-secondary">
                  <img src="/node_modules/@primer/octicons/build/svg/repo-forked-24.svg" alt="Forks" class="emoji octicons">
                  {{ project.forks }}
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
  </div>

</div>
<script>
  $('#filter a').click(function(e) {
      e.stopPropagation();
  });

  window.addEventListener('hashchange', fn, false);

  window.onload = fn;

  const statuses = [
    'active',
    'inactive',
    'unsupported',
    'suspended',
    'abandoned',
    'concept',
    'wip',
    'unknown'
  ];

  function fn() {
    var args = window.location.hash.replace('#', '');
    if (args == '') {
      window.location.hash = 'active/inactive/wip';
    }
    filter(args);
  }

  function filter(args) {
    args = args.split('/');
    statuses.forEach(e => {
      if (args.includes(e)) {
        $('#' + e).addClass('active');
        $('.repo-status-' + e + '-filter').show();
      } else {
        $('#' + e).removeClass('active');
        $('.repo-status-' + e + '-filter').hide();
      }
      $('#masonry').masonry();
    });
  }

  function hash() {
    var arr = [];
    statuses.forEach(e => {
      if ($('#' + e).hasClass('active')) {
        arr.push(e);
      }
    });
    var hash = arr.join('/');
    window.location.hash = hash;
  }
</script>
